body {
    background-image: url("background-image.jpg");
}

.gameContainer {
    margin: 30px;
    border: 3px solid black;
    border-radius: 30px;
    color: white;
    background-color: black;
}

.title {
    margin: 8px;
    font-size: 50px;
    text-align: center;
}

.question {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}


/*Image positioning*/

#image {
    border: 3px solid black;
    margin: 450px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/*Image Design*/

#image {
    width: 400px;
    height: 425px;
    border-radius: 30px;
}

#buttonHolder {
    margin: 25px;
}


/*positioning*/

button {
    margin-left: 120px;
    padding: 30px;
    font-size: 20px;
    width: 160px;
    text-align: center;
}


/*design*/

button {
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 15px;
}

button:hover {
    color: white;
    background-color: palevioletred;
    border-color: skyblue;
}
